#main 
{
	margin: auto; 
	display: block; 
	overflow: hidden; 
	width: 570px; 
	border-radius: 40px; 
	height: 570px;
	/* box-shadow: 0px 0px 10px grey; */
}


#headimg
{
	width:100%; 
	display: block; 
	opacity:0.5;
}


#video 
{
	position: fixed; 
	top: 0; 
	left: 0; 
	display: block; 
	width:auto; 
	height:auto; 
	margin:0 auto; 
	z-index:-1; 
	min-width: 100%;  
	min-height: 100%;
	
}

#main .option
{
	font-family: 'Courier New';
	font-size: 40px;
	margin: 0 auto;
	text-shadow: 0px 0px 15px green;
	color: green;
	font-weight: bold;
	display: block;
	text-align: center;
	width: auto;
	height: 60px;
	opacity: 0.4;
	transition: all 0.5s ease-in-out;
}

#main .option:hover
{
	cursor: pointer;
	text-shadow: 0px 0px 10px yellow;
	color: yellow;
	opacity: 1;
	padding-left: 50px;
}


#main a img
{
	opacity: 0.5;
	height: 100%;
	display: block;
}

table
{
		
		margin: auto;
		width: 400px;
		
}

tr{
	background: black;
	cursor: pointer;
	color: cyan;
	transition: 0.4s;
}
tr:hover {
	color: yellow;
	font-size: 30px;
	/*transform: rotate(360deg);*/
}

td {
	font-family: 'Arial';
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

.welcomenigga {
	color: white;
	font-family: 'Arial';
	text-align: center;
	margin: auto;
	display: block;
	
}

.score {
		color :red;
		font-weight: bold;
		font-size: 30px;
		
}