#game {
	margin: auto; 
	display: block; 
	border: 1px solid black;
}

#cv-footer {
	position: relative;
	height: 20px;
	position: fixed;
	top: 92%;
	right: 5%;
}

.cv-footer-btn
{
	display: inline-block;
	background: red;
	width: 20px;
	height: 20px;
	opacity: 1;
	border-radius: 20px;
	border: 2px solid yellow;
	cursor: pointer;
}

.cv-footer-btn:hover
{
	background-color: yellow;
	border: 2px solid red;
}

.mute {
	background-image: url(../images/icons/mute.svg);
	background-size: contain;
}

.unmute {
	background-image: url(../images/icons/unmute.svg);
	background-size: contain;
}