body {
	background: black;
	overflow: none;
}

#game {
	margin: auto; 
	width: 99%;
	display: block; 
}

#cv-footer {
	position: relative;
	height: 20px;
	position: fixed;
	top: 92%;
	right: 5%;
	display: none;
}

.cv-footer-btn
{
	display: inline-block;
	background: red;
	width: 20px;
	height: 20px;
	opacity: 1;
	border-radius: 20px;
	border: 2px solid yellow;
	cursor: pointer;
}

.cv-footer-btn:hover
{
	background-color: yellow;
	border: 2px solid red;
}

.mute {
	background-image: url(../images/icons/mute.svg);
	background-size: contain;
}

.unmute {
	background-image: url(../images/icons/unmute.svg);
	background-size: contain;
}

#loader {
	position: fixed;
	display: block;
	width: 400px;
	top: 50%;
	left: 50%;
	margin-top: -100px; 
	margin-left: -200px;
	box-shadow: 0px 0px 20px black;
	opacity: 0.8;
	background: black;
	border-radius: 5px;
}

#loader img {
	position: relative;
	padding: 20px;
	vertical-align: middle;
}

#loadertext {
	font-size: 20px;
	color: white;
	font-family: Arial;
	font-weight: bold;
}